
*{
    box-sizing: border-box;
}
#header{
    height: 20px;
}

    

body{
    margin: 3% 0 0 0;
    /* background: url(../img/hero/heroImg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}
.contenedor {
    display: flex;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    /*padding: 15px;
    border-radius: 20px; */
}
.inicioRapido{
    
    text-align: left;
    font-size: 15px;
    width: 100%;
    /* padding: 10px; */
    border: none;
    font-family: "Poppins", sans-serif;
    margin-left: 400px;
    margin-top: -359px;
    
    
}
.inicioRapido div{
    padding-bottom: 30px;
    width: 100%;
   
}
.contenedor > .input-contenedor {
    margin-bottom: 15px;
    margin-left: -100px;
    width: 100%;
    
}

.campo{
    margin-bottom: 15px;
}
.campo label {
    display: block;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}
.campo input[type="text"],
.campo input[type="password"] {
    text-align: left;
    font-size: 15px;
    width: 50%;
    padding: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
}
h1{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
}
input[type="text"], input[type="password"] {
    text-align: left;
    font-size: 15px;
    width: 50%;
    padding: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
}

/* .input-contenedor {
    margin-bottom: 15px;
} */
.boton {
    width: 50%;
    border: none;
    font-size: 15px;
    background-color: #1AA0F2;
    padding: 15px 20px; /* Ajuste de espaciado */
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-align: center; /* Centrar el texto dentro del botón */
    margin-left: -350px;
    margin-bottom: 15px;
    color: #FFFFFF; /* Cambia el color del enlace */
    z-index: 2;

}
.boton input[type="submit"] {
    border: none; 
    outline: none; 
    background: none;  
    color: white;   
}

.separator1 {
    width: 1px; 
    height: 130px;
    background-color: #646262; 
    opacity: 0.5;
    align-items: center;
    margin-top: -300px;
}
.separator2 {
    width: 1px; 
    height: 130px;
    background-color: #646262; 
    opacity: 0.5;
    align-items: center;
    margin-bottom: 100px;
}
.separator1-registro {
    width: 1px; 
    height: 200px;
    background-color: #646262; 
    opacity: 0.5;
    align-items: center;
    margin-bottom: 410px;
}
.separator2-registro {
    width: 1px; 
    height: 200px;
    background-color: #646262; 
    opacity: 0.5;
    align-items: center;
    margin-bottom: 100px;
}
.o{
    color: #646262;
    opacity: 0.5;
}

.boton:hover{
    background-color: #050505;
}
p{
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.textoaceptar{
    margin-top: -19px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.contenedor-verificacion{
    padding-top: 100px;
}
.contenedor-verificacion-registro{
    padding-top: 160px;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600px
}
.link:hover{
    color: #1AA0F2;
}
.logo{
    padding-top: 20px;
    text-align: center;
}
.flechaAtras{
    padding-top: 20px;
    padding-right: 1300px;
    text-align: left;
    display: flex;
    align-items: center;
}
.atrás{
    padding-left: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #050505;
}
@media (min-width: 843px){
    .formulario{
        width: 40%;
        margin-top: 150px;
        margin: auto;
        border-radius: 2%;
    }
    .boton{
        margin-right: 8%;
    }
}
@media (max-width: 842px) {
    .formulario{
        width: 60%;
        margin-top: 150px;
        margin: auto;
        border-radius: 2%;
    }
    .formulario > .boton{
        margin-left: ;
        width: 100%;
    }
}

