
/* ------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------ */

header {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;  /* Asegurarse de que cubre todo el ancho */
    z-index: 1000; /* Mantiene el header por encima de otros elementos */
}

/* Menú de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative; /* Designamos la posición del link */
    display: inline-block;
    padding-bottom: 2px;
}

nav ul li a::after {
    content: ''; /* Contenido por defecto del hover */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1AA0F2;
    transition: width 0.3s ease; /* Transición del width */
}

nav ul li a:hover::after {
    width: 100%; /* Cuando se ejecute el hover, la barra se extenderá al 100% de su width */
}


/* Estilos para la imagen */
.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.li_button {
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    transition: ease 0.5s;
}

.li_button:hover {
    border-radius: 10px;
    background-color: #1AA0F2;
    padding: 10px;
}

.li_button a {
    color: white;
}