body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eff3f4;
}

.titulo {
    font-size: 48px;
    color: black;
    text-align: center;
}

.texto_centrado {
    padding: 10px 0;
    text-align: center;
    line-height: 30px;
}

button {
    cursor: pointer;
}

/* ------------------------------------------------------------------------------ */
/* Main */
/* ------------------------------------------------------------------------------ */

main {
    background-color: rgb(230, 158, 132);
    display: flex;
    flex-wrap: wrap;
}

main section {
    width: 100%;
}

section.images {
    display: flex;
    flex-wrap: wrap;
}

section.images img {
    height: 100px;
    width: 25%;
}

.imagen {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

img.imgMain {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.imagen .imgTexto { 
    width: 33%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate( -50%, -50% );
    z-index: 2;
}

.imagen .imgTexto h1 {
    color: white;
    font-size: 60px;
    line-height: 100px;
}

.imagen .imgTexto .textContainer {
    width: 70%;
    color: white;
    font-size: 18px;
    line-height: 5vh;
}

.imagen .imgTexto a {
    color: black;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

a.transparent_link {
    background-color: transparent !important;
    color: white !important;
}

a.transparent_link img {
    margin-left: 4px;
    width: 8px;
}

/* Planes */
.planes {
    height: fit-content;
    width: 70%;
    display: flex;
    margin: auto;

     /* Distribución equitativa del width */
    justify-content: space-around;

    /* Alineamos verticalmente */
    align-items: end;
    padding: 20px 0px;
}

.plan {
    position: relative;
    bottom: 0;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.plan:nth-child(2) {
    background-color: black;
    color: white;
}

.plan:nth-child(2) button {
    background-color: white;
    color: black;
}

.plan:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    transform: translateX(-10px) translateY(10px);
}

.plan-avanzado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.plan-avanzado h3 {
    color: #aaa8a88b;
    margin: 0;
}

.plan-avanzado a {
    text-decoration: none;
    color: white;
}

.plan button {
    color: white;
    background-color: black;
    margin: 20px 0;
    border: 0px;
    border-radius: 10px;
    height: 5vh;
    width: 100%;
}

.plan ul {
    list-style-type: none;
}

.plan ul li::before {
    content: '✓ ';
}

.plan ul li {
    padding: 10px 0;
}

/* Personajes */
.personajes {
    margin-top: 100px;
    min-height: 70vh;
}

/* Quiénes somos */

.quienes_somos {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.quienes_somos .parrafo_der h3, .quienes_somos .parrafo_izq h3 {
    font-size: 24px;
    color: black;
}

.quienes_somos .parrafo_der h3 {
    align-self: end;
}

.parrafo_izq {
    align-self: start;
}

.parrafo_der {
    align-self: end;
}